

<%# ------------------------------------------------------------------------------------------------------------------------------------------- %>

<div class='container mw-100 mt-5 d-flex flex-column flex-md-row'>

  <div class="form col-12 col-md-6">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group mw-75">
      <%= f.label :email %>
      <%= f.text_field(:email, class: "form-control", placeholder: "Email Address") %>
    </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
    <div class="form-group mw-75">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, class:'form-control', autocomplete: "new-password" %>
      <% if @minimum_password_length %><br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    </div>
    <div class="form-group mw-75">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>    
    </div> 
    <div class="form-group mw-75">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class:'form-control', autocomplete: "current-password" %>
    </div>
  
   
    <%= f.submit 'Update', class: 'btn btn-outline-info rounded-pill mb-1' %><br>
    <%= render "devise/shared/links" %>
    <%end%>
    
  </div>
  <div class=" d-block col-12 col-sm-12 col-md-6 h-50">
    <%= image_tag("edit.png", class: 'img-fluid mx-auto d-none d-md-block col-md-10')%>  
  </div>

</div> 



