<%= render 'layouts/index'%>
<div class='container mw-100 mt-5 d-flex flex-column flex-md-row'>


  <div class="form col-12 col-md-6">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mw-75">
      <%= f.label :email %>
      <%= f.text_field(:email, class: "form-control", placeholder: "Email Address") %>
    </div>
    <div class="form-group mw-75">
      <%= f.label :password %>
      <%= f.password_field(:password, class: "form-control", placeholder: "Password") %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-group mw-75 mb-0">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <%= f.submit 'Log in', class: 'btn btn-outline-info rounded-pill mb-1' %><br>
    <%= render "devise/shared/links" %>
    <%end%>
    
  </div>
  <div class=" d-block col-12 col-sm-12 col-md-6 h-50">
    <%= image_tag("sign_in.jpeg", class: 'img-fluid mx-auto d-none d-md-block col-md-10')%>  
  </div>

</div> 